@use "@styles/mixins";

.calendar {
  @include mixins.Rubik;

  &__date-container {
    display: block;
    color: mixins.$primary;
    font-weight: 700;

    padding: 0 0 1.5rem;
    margin: 0 0 1.5rem;

    border-bottom: 1px solid rgba(mixins.$gray, 0.25);
  }

  &__event-container {
    display: flex;
    flex-direction: column;

    @media (min-width: mixins.$tablet) {
      flex-direction: row;
    }
  }

  &__event-title {
    color: mixins.$black;
    margin: 0;

    @media (min-width: mixins.$tablet) {
      width: 33vw;
      margin-right: 5vw;
    }
  }

  &__event-description {
    width: stretch;

    @media (min-width: mixins.$tablet) {
      margin: 0;
    }
  }
}
