@import "@styles/mixins";

footer {
  .blue-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 10vw 1.5rem;

    color: $light;
    background-color: $primary;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 800px;
    max-width: 80vw;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  h3 {
    margin: 3rem 0 1rem;
  }

  .socials {
    &-container {
      display: flex;

      @media screen and (min-width: $desktop) {
        justify-content: space-between;
      }
    }

    &-link {
      margin: 0 0.33rem;

      svg {
        height: 48px;
        width: 48px;
      }
    }
  }

  #disclaimer,
  #copyright {
    text-align: left;
    font-size: 0.8rem;
    margin: 3rem auto 0;
    width: 800px;
    max-width: 80vw;
  }

  @media screen and (min-width: $tablet) {
    .socials,
    .address {
      margin: 0 2rem;
    }
  }
}
