@use "@styles/mixins";

.announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  position: relative;
  overflow: hidden;

  background-color: mixins.$secondary;
  color: mixins.$black;

  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  opacity: 1;

  &--hide {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }

  &__icon {
    padding: 0 10px;
    font-size: 24px;
  }

  &__message {
    padding: 0 10px;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
    line-height: mixins.$standard-line-height;
  }

  @media (max-width: mixins.$mobile) {
    padding: 0.5rem 1rem;
  }

  .btn {
    &__close-button {
      @include mixins.Rubik;
      color: mixins.$black;
      font-weight: 500;
      font-size: 1rem;

      border: 0;
      background-color: transparent;
      padding: 0.25rem;
      margin: 0 0.5rem;

      position: relative;
      top: -0.15rem;
      right: 0;
      align-self: flex-start;
      justify-content: flex-end;
    }
  }
}