@use "@styles/mixins";

.playdough-recipe {
  &__container {
    @media (min-width: mixins.$tablet) {
      width: 33vw;
    }
  }

  &__note {
    margin-bottom: 2rem;
  }
}

.parent-resources {
  text-align: center;

  &__list {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    p,
    strong {
      margin: 0;
    }
  }

  &__list-item {
    max-width: 80vw;
  }
}
